<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="custom-heading">Borrowers List</ion-title>
  <ion-list>
    <ion-item>
      <ion-button color="primary" style="--ion-background-color: #17a2b8;">
        Add Borrower
      </ion-button>
      <ion-button color="secondary" style="--ion-background-color: #17a2b8;">
        Change Password
      </ion-button>
      <ion-button color="danger" style="--ion-background-color: #17a2b8;">
        Logout
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>